/*================================================
Footer Area CSS
=================================================*/
.footer-area {
    background-color: black;
}
.footer-a{
    color:white;
    text-align: left;
}
.single-footer-widget {
    margin-bottom: 30px;
}

.single-footer-widget .widget-logo {
    margin-bottom: 25px;
}

.single-footer-widget p {
    margin-bottom: 0;
    color: #ffffff;
}

.single-footer-widget .widget-info {
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.single-footer-widget .widget-info li {
    list-style-type: none;
    margin-bottom: 14px;
    font-family: "Georgia", Times, serif;
    font-size: 18px;
    position: relative;
    padding-left: 25px;
}

.single-footer-widget .widget-info li i {
    position: absolute;
    left: 0;
    top: 4px;
    color: #ff8758;
}

.single-footer-widget .widget-info li a {
    color: #ffffff;
}

.single-footer-widget .widget-info li a:hover {
    color: black;
    letter-spacing: 1px;
}

.single-footer-widget .widget-info li:last-child {
    margin-bottom: 0;
}

.single-footer-widget h3 {
    margin-bottom: 25px;
    font-size: 25px;
    color: #ffffff;
    padding-bottom: 25px;
    font-weight: 600;
    position: relative;
}

.single-footer-widget h3::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: #586773;
    width: 70%;
    height: 1px;
}

.single-footer-widget .footer-links-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.single-footer-widget .footer-links-list li {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: "Georgia", Times, serif;
}

.single-footer-widget .footer-links-list li a {
    color: #ffffff;
    display: inline-block;
}

.single-footer-widget .footer-links-list li a:hover {
    color: black;
    letter-spacing: 1px;
}

.single-footer-widget .footer-links-list li:last-child {
    margin-bottom: 0;
}

.single-footer-widget .widget-social {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

.single-footer-widget .widget-social li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 10px;
}

.single-footer-widget .widget-social li:last-child {
    margin-right: 0;
}

.single-footer-widget .widget-social li i {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.single-footer-widget .widget-social li i:hover {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
