/* body{
    background-color: grey;
} */

.containerkbeer{
    margin: 20px;
    padding-left:80px;
    text-align: center;
    background-color: white;
    
}

/* .font{
    font-size: 25px;
    font-weight: bold;
    color: rgb(58, 70, 78,.9);
    text-align: center;
} */
.label{
    background-image: url(img/header_center.webp);
    background-repeat: no-repeat;
    margin-left: 45%;
    position: relative;
}
.info{

    font-size: 17px;
    line-height: 30px;
    padding: 10px 150px;
    font-weight: bold;
    color: rgb(70, 70, 70,1);
    text-align: center;

}

/* * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} */

.container{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 20px;
}
.house{
    width: 330px;
    height: 430px;
    margin: 20px;
    border-radius: 5px;
    background: #fff;
    position: relative;
    margin-bottom: 30px;
    transition: all 0.4s linear;
}
/* .title{
    border-bottom: 1px solid rgba(0,0,0,0.09);
    padding-bottom: 20px;
    margin-bottom: 20px;
} */
.house img{
    width: 100%;
    height: 60%;
    background-color: blue;
}
.house h3{
    margin: 5px;
}
.price{
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: 23px;
    bottom: 10px;
    left: 15px;
    z-index: 20;

}
.sale{
    right: 10px;
    bottom: 10px;
    background-color: #00B7F1;
    position: absolute;
    padding: 3px 8px;
    font-size: 12px;
    z-index: 20;
    /* font-family: 'BlueRock', Helvetica, Arial; */
    font-size: 15px;
    font-weight: 600;
    padding: 5px 17px 5px 17px;
    color: white;
    border-radius: 3px;
    border: none;
    background-color: #48a0dc;
    display: inline-block;
    width: auto;
    cursor: pointer;
    transition: all 0.2s linear;
}
.m{
    margin: 30px;
}
.imm{
    position: relative;
    display: block;
}
.fade{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.bar{
    background: #48a0dc;
    height: 3px;
    width: 0;
    position: absolute;
    z-index: 20;
    bottom: 0px;
    transition: all 0.4s;
}
.property-title .fa {
    color: #48a0dc;
}
.icon {
    margin-right: 4px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.details {
    color: #9eaab2;
    font-weight: 700;
    width: 100%;
    font-size: 13px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.details td {
    width: 33.33%;
}
.Center {
    text-align: center;
}
/* td, th {
    padding: 0;
} */