body,
html {
  height: 100%;
  /* font-family: "Inconsolata", sans-serif; */
  font-family: "Georgia", Times, serif;
  background-color: #fff;
}

.bgimg {
  background-position: center;
  background-size: cover;
  min-height: 75%;
  margin: 3%;
  position: relative;
}

.menu {
  display: none;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px;
  color: #fff;
}

.menu-item {
  flex: 1;
  text-align: center;
}

.menu-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.first-txt {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 85px;
}


.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  height: 300px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.containerkbeer {
  text-align: center;
  background-color: white;

}

.searchprop {
  text-align: center;
  /* background-color: white; */
  border: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: #000;
  height: 480px;
  width:800px;
  font-size: larger;
  background-color:#e6f5ff;
}

.button {
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.button1 {
  background-color: black;
  color: white;
  border: 2px solid #48a0dc;
}

.button1:hover {
  background-color: #48a0dc;
  color: white;
}