
*{
   margin:0;
    padding: 0;
}  
body{
 
   background-color:#e6f5ff;
   font-size: 16px;
   font-family:'Times New Roman' ;



}

.container1{
   width:80%;
   margin: 50px auto;
}
.contactus{

   color: #464646;
  font-weight:200;
  font-size: 18px;
  font-family:'Times New Roman';

}


.contact{
   background-color:white;
    display: flex;  /* to be next to each other horizonatally */

}
.cleft{
   flex-basis: 60%;
   padding: 40px 60px;
}
.cright{
   flex-basis: 40%;
   padding: 40px ;
  
   background: color #0000FF;
   color: white;
}

h1{
   margin-bottom: 20px;
}
.container p{
   margin-bottom: 40px;
  
}

.input-row{
  
   
   display:flex;

   justify-content:space-between;
   margin-bottom: 20px;

}
.input-row .input-group{
   flex-basis: 45%;
}
input{
   width: 100%;
   border: none;
   outline: none;
   border-bottom: 2px solid #ccccccda;
   padding-bottom: 6px;
}
textarea{
    width: 100%;
    border: 1px solid #ccccccda;
    outline:none ;
    padding: 10px;
    box-sizing: border-box;
}
label{
   margin-bottom: 6px;
   display: block;
   color:#3a444e ;
}
button{
   background: #00b7f1;
   width: 100px;
   border:none;
   outline: none;
   color: white;
   height: 35px;
   border-radius: 30px;
  margin-top: 20px;
 box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);    /* ka2ino manfoo5 kda  */


}
.cleft h3{
   color: #00b7f1;
   font-weight: 600;
   margin-bottom: 30px;

}
.cleft h3{
  
   font-weight: 600;
   margin-bottom: 30px;

}

tr td:first-child{
  padding-right: 20px;   /* maynfa34 asiib space biin 20 we px*/
}
tr td{
   padding-top: 20px;
  
}
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px;
    color: #fff;
  }
  
  .menu-item {
    flex: 1;
    text-align: center;
  }
  
  .menu-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }
