#district{
    width: 100%;
    padding :70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin:auto;
    font-size: 30px;
    color: black;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 300px;
    height: 50px;
    background: linear-gradient(#016b9531, #fff);
    position :absolute;
    top:0;
    left:0;
    z-index: -1;
    
}
.district-box{
    width: 80;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    text-align: center;
    justify-content: space-around;

}
.single-district{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color:#fff;
    position: relative;
}
.single-district img{
    width:100;
    border-radius: 7px;
}

.overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    border-radius: 7px;
    cursor:pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
   opacity: 0;
   transition: 1s;
}
.single-district :hover .overlay{
    opacity: 1;

}
 .district-desc{
    width:70%;
    position:absolute;
    bottom: 50%;
    left:50%;
    transform: translateX(-50%);
   color: black ;
 }

